@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add styles for the Tiptap editor */
.ProseMirror {
  height: 100%;
  min-height: 200px;
  padding: 1rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: right;
  height: 0;
  pointer-events: none;
}

.ProseMirror:focus {
  outline: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Accessibility Styles */
/* מצב ניגודיות גבוהה */
body.high-contrast, 
body.high-contrast *:not(#accessibility-root *) {
  background-color: #000 !important;
  color: #fff !important;
  border-color: white !important;
}

body.high-contrast a:not(#accessibility-root *), 
body.high-contrast a:visited:not(#accessibility-root *),
body.high-contrast button:not(#accessibility-root *) {
  color: #0ff !important;
  text-decoration: underline !important;
  border: 1px solid #0ff !important;
}

/* מצב גווני אפור */
body.grayscale {
  filter: grayscale(100%);
}

/* הדגשת קישורים */
body.highlight-links a:not(#accessibility-root *) {
  background-color: yellow !important;
  color: #000 !important;
  font-weight: bold;
  text-decoration: underline;
}

/* סימון פוקוס מודגש (במצב ניווט מקלדת) */
body.keyboard-nav *:focus:not(#accessibility-root *) {
  outline: 3px solid red !important;
}
